/* Nav.css */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



.nav-header a {
    font-family: "Tiny5", sans-serif;
    color: wheat;
    text-decoration: none;
    font-size: 2rem;
}




.nav-links a {
    text-decoration: none;
    color: white;
    margin: 12px;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: red;
}