.HealthBar {
    width: 100%;
    background-color: grey;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 20px;
    margin: 10px 0;
    transition: transform 0.20s ease-in-out; 
  }
  
  .HealthBar-inner {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: red;
    text-align: left;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px; 
    transition: width 0.20s ease-in-out, padding-left 0.20s ease-in-out; 
  }
  
  .HealthBar-text {
    position: absolute;
    left: 5px; 
  }
  
  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-0.5deg); }
    50% { transform: rotate(0.5deg); }
    75% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
  }
  
  .shake {
    animation: shake 0.20s;
  }
  