.Inventory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.Inventory-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.Inventory-content {
  position: relative;
  width: 250px;
  min-height: 550px;
  background: black;
  color: white;
  border: 1px solid white;
  padding-inline: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.Inventory-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; 
  overflow-y: auto; 
}

.Inventory-content li {
  width: 100%;
  cursor: pointer;
}

.Inventory-content li:hover {
  background-color: grey;
}

.Inventory-header {
  display: flex;
  justify-content: space-between;
}

.Inventory-close {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.Inventory h2 {
  margin-bottom: 10px;
}

.Inventory-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.Inventory-sell-button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.Inventory-sell-button:hover {
  background: white;
  color: black;
}

.Inventory-rarity-dropdown {
  background: black;
  border: 1px solid white;
  width: 100%;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.Inventory-rarity-dropdown option {
  color: black; 
}

.Inventory-rarity-dropdown option.Common {
  color: #FFFFFF;
}

.Inventory-rarity-dropdown option.Uncommon {
  color: #00FF00;
}

.Inventory-rarity-dropdown option.Rare {
  color: #0000FF;
}

.Inventory-rarity-dropdown option.Epic {
  color: #800080;
}

.Inventory-rarity-dropdown option.Legendary {
  color: #FFA500;
}
