.LandingPage {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.LandingPage-header {
  font-size: 2em;
}

.LandingPage p {
  font-size: 1.2em;
  margin: 20px 0;
}

.LandingPage button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.LandingPage button:hover {
  background-color: #21a1f1;
}

.LandingPage-about {
  text-align: center;
}



/* Style for tablet screens */
@media (max-width: 1024px) {
  .LandingPage {
    flex: 1 1 45%;
    /* Half width for tablet screens */
    background-color: #61dafb;
  }
}


/* Styles for mobile phone screens */
@media (max-width: 768px) {
  .LandingPage {
    flex: 1 1 100%;
    /* Full width for smaller screens */
    background-color: bisque;
  }
}