body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Pixelify Sans', sans-serif; 
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('/public/images/landing/hero-background.png') no-repeat center center fixed;
  background-size: cover;
}

.Login-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.Login-container h2 {
  font-family: 'tiny5', sans-serif;
  font-size: 55px;
  color: #F2D49D;
  margin-bottom: 20px;
}

.Login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

.Login-container button {
  width: 100%;
  padding: 10px;
  background-color: #5F3F36;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

.Login-container button:hover {
  background-color: #9a7063;
}

.Login-container p {
  color: #fff;
}

.Login-container a {
  color: #F2D49D;
  text-decoration: none;
}

.Login-container a:hover {
  text-decoration: underline;
}
